body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0%;  
}
h1{
    font-size: 44px;
}
h2{
    font-size: 39px;
    
}
h4{
    font-size: 29px;
}
.grand-ma{
    display: flex;
    margin-bottom: 250px;
    padding: 50px;
}

.mission-on{
    width: 50%;
    padding-left: 5%;
    
}
 
.mission-on img{
    width: 50%;
    
}
.border-left{
    border-left: 5px solid black;
    border-radius: 4px rgb(18, 171, 209);
    border-image: linear-gradient(rgb(36, 2, 2),rgb(219, 68, 57));
     border-image-slice: 1;
     padding: 0%;
     margin-left: 4px;
}
.border-left h2{
    color: rgb(150, 223, 78);
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(29, 192, 233),rgb(248, 252, 52));
    padding: 10px 40px;
    color: rgb(61, 56, 56);
    font-weight: 500;
    border-radius: 5px;
}
#top-heading{
    text-align: center;
}
.color-etc{
    color: rgba(248, 72, 18, 0.877);
}
.newest-on{
    display: flex;
}
.mission-in{
    margin: 5%;
    padding: 5%;
    
}
.mission-one{
    background-color: blanchedalmond;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    margin-bottom: 15px;
}
.mission-one img{
    width: 35%;
}
.mission-tow{
    background-color: rgb(142, 236, 236);
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    margin-bottom: 15px;
}
.mission-tow img{
    width: 35%;
}
.mission-three{
    background-color: rgba(197, 248, 14, 0.658);
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    margin-bottom: 15px;
    padding: 10px;
}
.mission-three img{
    width: 35%;
}
.nort-west{
    display: flex;
}
.nort-img{
    width: 40%;
    margin-left: 12%;
    margin-top: 12%;
}
.Limits-wtn{
    margin-top: 5%;
}
.east-west{
    display: flex
}
.project-img{
    width: 70%;
    margin-left: 12%;
    margin-top: 18%;
}
.global-wtn{
    margin-top: 5%;
    margin-left: 10%;
}
.footer-down{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 12%;
}